[Unit]
Description=Weather Frame Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/WeatherFrame/weather-frame/src
ExecStart=/home/pi/WeatherFrame/weather-frame/.venv/bin/python -m weather_frame.main
Restart=always
RestartSec=10
Environment="DEBUG_MODE=0"

[Install]
WantedBy=multi-user.target

# sudo nano /etc/systemd/system/weather-frame.service

# sudo systemctl daemon-reload
# sudo systemctl enable weather-frame.service
# sudo systemctl start weather-frame.service